body{
    background-color: #104038;
    font-family: "Quicksand", sans-serif;
}

#navbar{
    list-style-type: none;
    margin: -8px;
    padding:0;
    height:70px;
    background-color: #1ca381;
    top:0;
    position:sticky;
    z-index: 100;
    filter: drop-shadow(#184d36 1px 1px 10px);
    font-family: "Handjet", sans-serif;
}

li{
    float:left;
    padding: 15px;
    font-size: 30px;
}

.dot {
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: black;
    filter: drop-shadow(#184d36 2px 1px 10px);
}

#box1{
    height:100px;
    width:100px;
    background-color: rgb(231, 231, 126);
    border-radius: 10px;;
}

#box2{
    height:100px;
    width:100px;
    background-color: rgb(19, 86, 38);
    border-radius: 10px;;
}

#box3{
    height:100px;
    width:100px;
    background-color: rgb(34, 146, 105);
    border-radius: 10px;;
}

.img_placeholder{
    height: 300px;
    width: 350px;
    position: absolute;
    top:70px;
    left:150px;
    background-image: url(eevee.png);
    background-size:100%;
    background-position: center;
}

#poke{
    padding:0;
    width: 650px;
    height: 600px;
    background-color: #47af6b;
    position: absolute;
    left:150px;
    top:100px;
    border-radius: 10px;
}

#to_do_list{
    background-color:#83c9ad;
    height:100%;
    width:400px;
    position: absolute;
    right:0;
    list-style-type: none;
    text-align: center;
    padding:0;
}

#list{
    margin:0;
    padding:0;
    width:100%;
}

#list li {
    list-style-type: none;
    text-align: center;
    position:relative;
    width:100%;
    border:solid 1px black;
}

#list li:hover{
    background-color: #36ba81;
    cursor: pointer;
}

#classes ul{
    list-style-type: none;
    margin: 0;
    padding: 50px;
    cursor: pointer;
}

#classesList{
    padding:50px;
    list-style-type: none;
}

#currPoke{
    width:700px;
    height:600px;
    background-color: #47af6b;
    position: absolute;
    top:100px;
    left:100px;
}

#all_poke{
    right:0;
    height:100%;
    width:400px;
    position:absolute;
    background-color: #36ba81;
    text-align: center;
}

#classes{
    background-color: #36ba81;
    width:900px;
    height:620px;
    margin:0 auto;
    text-align: center;
}

#classes h1{
    padding:20px;
}

#students{
    background-color: #47af6b;
    position:absolute;
    top:100px;
    left:100px;
    width: 800px;
    height:600px;
}

#students ul{
    list-style-type: none;
    margin:0;
    padding-top:70px;
}

#profilePic{
    border-radius: 50%;
    height: 100px;
    width:100px;
    background-color: #184d36;
    background-image: url(eevee.png);
    background-position: 50%;
    background-size: 100%;
    margin: auto;
}

#studentsList{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#studentsList1{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

#assignments{
    background-color:#47af6b;
    height:450px;
    width:400px;
    position: absolute;
    right:0;
    list-style-type: none;
    text-align: center;
}

#reward{
    background-color:#93d174;
    height:240px;
    width:400px;
    position:absolute;
    right:0;
    top:500px;
    text-align: center;
}

#title{
    font-size: 50px;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 630px;
    font-family: "Handjet", sans-serif;
}

#login{
    background-color: white;
    width:300px;
    height:400px;
    position: absolute;
    top: 250px;
    left: 560px;
    text-align: center;
    border-radius: 5px;
    filter: drop-shadow(#184d36 2px 1px 10px);
}

#poke h1{
    font-size: 40px;
    position: absolute;
    top:370px;
    left:260px;
}

#XP{
    position:absolute;
    top:520px;
    left:275px;
}

#Level{
    position:absolute;
    top:420px;
    left:280px;
    font-size: 25px;;
}

#xpBar{
    background-color: #34d970;
    height:20px;
    width:5px;
    position: absolute;
    top:510px;
    left: 250px;
}

#lvl_num{
    position:absolute;
    top:465px;
    left:305px;
}

#currPoke h1{
    font-size: 40px;
    position: absolute;
    top:370px;
    left:260px;
}

#submit{
    position:absolute;
    border:none;
    top: 250px;
    z-index: 100;
    width:100px;
    height:30px;
    left:100px;
    border-radius: 2px;
    font-family: "Quicksand", sans-serif;
}

#submit:hover{
    background-color: #83c9ad;
}

#signUp{
    position: absolute;
    top:320px;
    left:120px;
    color:black;
}

#signUp:hover{
    color:#184d36;
}

#assignments_list{
    list-style-type: none;
    margin:0;
    padding:0;
    width:100%;
}

#assignments_list li{
    list-style-type: none;
    text-align: center;
    position:relative;
    width:100%;
    border: black 1px solid;
}

#assignments_list li:hover{
    background-color:#184d36;
}

#assignments p{
    position:absolute;
    top: 380px;
    left:140px;
    cursor: pointer;
}

#assignments p:hover{
    color:#c2ff8c;
}

#reward img{
    width:100px;
    height:100px;
    cursor:pointer;
}

#students h1{
    position:absolute;
    left:350px;
}

#rewardsPopUp{
    background-color: rgb(221, 234, 221);
    width:800px;
    height:500px;
    position:absolute;
    top:150px;
    left:350px;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    filter: drop-shadow(5px 10px 10px rgb(59, 54, 54));
}

#rewardsPopUp ul{
    list-style-type: none;
}

#rewardsPopUp Button{
    position:absolute;
    bottom: 40px;
    left:320px;
    border:none;
    border-radius: 5px;
    height:40px;
    width:150px;
    filter: drop-shadow(5px 10px 10px rgb(59, 54, 54));
}

#rewardsPopUp Button:hover{
    background-color: #d3d3d3;
}

#createAssignmentsPopUp{
    background-color: rgb(221, 234, 221);
    width:800px;
    height:500px;
    position:absolute;
    top:150px;
    left:320px;
    border-radius: 10px;
    filter: drop-shadow(5px 10px 10px rgb(59, 54, 54));
    visibility: hidden;
}

#createAssignmentsPopUp h1{
    text-align: center;
}

#createAssignmentBtn{
    width:150px;
    height:50px;
    position:absolute;
    top: 420px;
    left:330px;
    border:none;
    filter: drop-shadow(5px 10px 10px rgb(59, 54, 54));
    border-radius: 5px;
}

#createAssignmentBtn:hover{
    background-color: #d3d3d3;
}

#assignmentNameLabel{
    position:absolute;
    top:70px;
    left: 30px;
}

#assignmentNameInput{
    position:absolute;
    top:110px;
    left:30px;
    height:30px;
    width:730px;
}

#descriptionLabel{
    position:absolute;
    top:160px;
    left:30px;
}

#descriptionInput{
    position:absolute;
    top:200px;
    left:30px;
    height:200px;
    width:730px;
    resize: none;
}

#exit{
    position: absolute;
    top:30px;
    right:30px;
}

#exit:hover{
    cursor:pointer;
}

