body{
    background-color: #83c9ad;
}

#navbar{
    list-style-type: none;
    margin: -8px;
    padding:0;
    height:70px;
    background-color: #1ca381;
    top:0;
    position:sticky;
    z-index: 100;
}

ul{
    
}

li{
    float:left;
    padding: 15px;
    font-size: 30px;
}

.dot {
    height:30px;
    width:30px;
    border-radius: 50%;
    background-color: black;
}

.img_placeholder{
    background-color: black;
    height: 300px;
    width: 350px;
    margin:25px;
    
}

#poke{
    padding:0;
    width: 400px;
    height: 500px;
    background-color: azure;
    position: absolute;
    left:300px;
    top:100px;
    
}

#to_do_list{
    background-color:azure;
    height:100%;
    width:400px;
    position: absolute;
    right:0;
    list-style-type: none;
    text-align: center;
}

#list li {
    background-color: grey;
    list-style-type: none;
    
}